{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}


{% block body %}
    <main>
    <section id="formDepot">
    <div id="left">
        <div>
            <img src="{{ asset('images/Cardan.jpg')}}">
        </div>
        <div>
            <img src="{{ asset('images/Démarreur.jpg') }}" alt="">
        </div>
    </div>

    {{ form_start(form) }}
<div class="form-container">
    <div class="inputWrapper position-relative">
        {{ form_row(form.content) }}
    </div>
    <div class="inputWrapper position-relative">
        {{ form_row(form.category) }}
    </div>
    <div class="inputWrapper position-relative">
        {{ form_row(form.libelle) }}
    </div>
    <div class="inputWrapper position-relative">
        {{ form_row(form.image) }}
    </div>
    <div class="inputWrapper position-relative">
        {{ form_row(form.submit) }}
    </div>
</div>

    {{ form_end(form) }}
        <div id="rigth">
            <div>
                <img src="{{ asset('images/Pompette.webp') }}">
            </div>
            <div>
                <img src="{{ asset('images/fauteuilAvantDroit.jpeg')}}">
            </div>
        </div>

    </section>
    </main>
{% endblock %}